@model IEnumerable<LS_Shop.Models.Category>
@using LS_Shop.Infrastructure

<div class="col-xl-2 col-lg-3 col-md-3 col-xs-12 sidebar-categories">
    <div class="col-xs-12">
        <h3>Wyszukaj</h3>
        @using (Html.BeginForm("Search", "Search"))
        {
        <div class="input-group mb-3">
            @Html.TextBox("id", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Wyszukaj produkt"})
            <div class="input-group-append">
                <button class="btn btn-info" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
        }
        <h3>Kategorie</h3>
        <ul class="list-group">
            @Html.ActionLink("Wszystkie", "List", new { controller = "Product", page = 1 }, new { @class = "list-group-item nav-link" })
            @foreach (var element in Model)
            {
                <a href="@Url.Action("List", "Product", new { category = element.CategoryId, page = 1 })">
                    <li class="list-group-item nav-link col-xs-12 col-md-12 text-left">
                        @element.Name
                    </li>
                </a>
            }
        </ul>
    </div>
</div>