
@{
    ViewBag.Title = "Szukaj produkty";
}

@using System.Activities.Expressions
@using System.Diagnostics.Eventing.Reader
@model LS_Shop.ViewModels.SearchViewModel

<nav class="news">
    @if (Model != null)
    {
        if (Model.AnySearchingProductExists)
        {
            <h3>Rezultat Wyszukania:</h3>
            <br />
            <ul>
                @foreach (var product in Model.Products)
                {
                    @Html.Partial("ProductCard", product)
                }
            </ul>
        }
        else
        {
            <h3>Brak wyników wyszukania dla frazy: </h3>
            <h2 style="color: green">@Model.SearchText</h2>
        }
    }
    else
    {
        <h3>Nie podano frazy do wyszukania.</h3>
    }
</nav>

