@model LS_Shop.Models.Product

<div class="card col-xs-12 col-md-12">
    <div class="card-header">
        <h4>@Model.Name</h4>
    </div>
    <div class="card-body">
        <div class="card-text">
            @Model.Description
        </div>
        <div class="card-title">
           <b>@Model.Price.ToString("c")</b>
        </div>
        <div class="btn btn-primary">
            Do koszyka
        </div>
    </div>
</div><br />