.body-content {
    padding-top: 40px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.sidebar-categories {
    padding-left: 5%;
    padding-top: 5%;
}

.sidebar-categories a :hover {
    background-color: lightcyan;
}

.sidebar-categories a{
    text-align: center;
}

hr {
    background-color: aquamarine;
}


body {
    background-color: lightskyblue;
}