@model LS_Shop.ViewModels.BestsellersViewModel

<div class="bestsellers">
    <h3>Bestsellery</h3> <br />
    <ul>
        @foreach (var bestseller in Model.Products)
        {
            @Html.Partial("ProductCard", bestseller)
        }
    </ul>
</div>