@model LS_Shop.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = "Produkty";
}

@if (Model.CurrentCategory != null)
{
    <div class="row">
        <h1>Kategoria: @Model.CurrentCategory.Name</h1>
    </div><br />
}
else
{
    <div class="row">
        <h1>Wszystkie produkty</h1>
    </div><br />
}
@foreach (var element in Model.Products)
{
    <div class="row">
        @Html.Partial("ProductCard", element)
    </div><br />
}
<div class="row">
    <div class="btn-group">
        @if (Model.CurrentCategory != null)
        {
            @Html.PageLinks(Model.PagingInfo, o => Url.Action("List", new { page = o, category = Model.CurrentCategory.CategoryId }))
        }
        else
        {
            @Html.PageLinks(Model.PagingInfo, o => Url.Action("List", new { page = o }))
        }
    </div>
</div>
