@model LS_Shop.ViewModels.NewProductsViewModel

<nav class="news">
    <h3>Nowości</h3> <br />
    <ul>
        @foreach (var product in Model.Products)
        {
            @Html.Partial("ProductCard", product)
        }
    </ul>
</nav>