@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LS-Shop</h1>
    <p class="lead">Sklep internetowy</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hello world!</h2>
        <p>
           Lorem ipsum ...
        </p>      
    </div>
   
</div>