<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu sieci Web. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://xgarbaty123.hostingasp.pl/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ssl2.webio.pl:8172/msdeploy.axd?site=xgarbaty123.hostingasp.pl</MSDeployServiceURL>
    <DeployIisAppPath>xgarbaty123.hostingasp.pl</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>xgarbaty123.ho_dploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProductsContext" Order="1" Enabled="True">
          <Destination Path="Data Source=mssql6.webio.pl,2401;Initial Catalog=xgarbaty123_database;User ID=xgarbaty123_Administrator;Password=ZAQ!2wsx" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LS_Shop.Data_Access_Layer.EfDbContext, LS-Shop" MigrationConfiguration="LS_Shop.Migrations.Configuration, LS-Shop" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProductsContext-Web.config Connection String">
      <ParameterValue>Data Source=mssql6.webio.pl,2401;Initial Catalog=xgarbaty123_database;User ID=xgarbaty123_Administrator;Password=ZAQ!2wsx</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>